<!DOCTYPE html>
<html>
<head>
    <title>Online Play</title>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <script>
        window.onload=function(){

        var nameinfo = {"messageType":"name","content":sessionStorage.currentuser};
        nameInfoFormat = JSON.stringify(nameinfo)
        sendMessage(sessionStorage.opponent,"{{ values.roomid }}",nameInfoFormat);
        }
    </script>
    

</head>
<body>

    <h1>GUEST</h1>

    <div id="container">
        <p>Settting up game</p>
    </div>



    <!-- <div class="container">
        <a href="/">Go Home</a>
        <div class="chatbox">
            <p>Share this URL with your friend:</p>
            <input id="chaturl" type="text" value=""/>
        </div>
    </div> -->


</body>
    <script>
        channel = new goog.appengine.Channel('{{ values.token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>

</html>