<!DOCTYPE html>
<html>
<head>
    <title>Online Play</title>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='cards.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <script src="{{ url_for('static',filename='onlineLogic.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery.js') }}"></script>
    <script>
        window.onload=function(){
        sessionStorage.roomid= "{{ values.roomid }}";
        var nameinfo = {"messageType":"name","content":sessionStorage.currentuser};
        nameInfoFormat = JSON.stringify(nameinfo);
        console.log(nameInfoFormat);
        sendMessage(sessionStorage.opponent,sessionStorage.roomid,nameInfoFormat);
        }
    </script>
    

</head>
<body>

    <div id="controls">
        <h1>GUEST</h1>
    </div>
    

    <div class="sideBox">
        <p>Settting up game</p>
    </div>



    <!-- <div class="container">
        <a href="/">Go Home</a>
        <div class="chatbox">
            <p>Share this URL with your friend:</p>
            <input id="chaturl" type="text" value=""/>
        </div>
    </div> -->
    <audio class = "clap" src="static/clap.wav" ></audio>
    <audio class = 'flip' src="static/flip.wav" ></audio>
    <audio class = 'ping' src="static/ping.wav" ></audio>

</body>
    <script>
        channel = new goog.appengine.Channel('{{ values.token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>

</html>