<!DOCTYPE html>
<html>
<head>
    <title>Online Play</title>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>

    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='cards.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <script src="{{ url_for('static',filename='onlineLogic.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery.js') }}"></script>
    <script>
        window.onload=function(){
        yourScore=0;
        opponentScore=0;
        updatescores();
        sessionStorage.roomid = "{{ values.roomid }}";
        var chaturl = document.getElementById("chaturl");
        var baseurl = "{{ request.host_url }}{{values.roomid}}/{{values.yourname}}/guest";
        chaturl.value = baseurl;
        }
    </script>
    

</head>
<body>

     <div id="controls">
        <h1>HOST</h1>
        <div id ="player1" class="playerinfo">
            <h4 id="playername1"></h4>
            <h5 id="player1score"></h5>
        </div>
        <div id ="player2" class="playerinfo">
            <h4 id="playername2"></h4>
            <h5 id="player2score"></h5>
        </div>
    </div>
    
    <div class="sideBox">
        
        <a href="/">Go Home</a>
        <div class="chatbox">
            <p>Share this URL with your friend:</p>
            <input id="chaturl" type="text" value=""/>
        </div>
        
    </div>
    
    <audio class = "clap" src="{{ url_for('static',filename='clap.wav') }}" ></audio>
    <audio class = 'flip' src="{{ url_for('static',filename='flip.wav') }}" ></audio>
    <audio class = 'ping' src="{{ url_for('static',filename='ping.wav') }}" ></audio>

</body>
    <script>
        channel = new goog.appengine.Channel('{{ values.token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose;
    </script>
</html>