<html>
<head>
    
<!-- <script type="text/javascript" src="/_ah/channel/jsapi"></script> -->

<link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />

  </head>
<body>
    <div class="container">
    
  <h2>Welcome to online memory</h2>
        
    
    Enter your name <input type="text" id="name"/> and 
        <a id="newchat" class="btn btn-primary" href="{{ values.roomid }}">Start a new game</a>

  </div>
</body>

<script>
window.onload = function(){
    var chatbutton = document.getElementById("newchat");
    var namebox = document.getElementById("name");
    chatbutton.addEventListener("click", function(event) {
         event.preventDefault();
         name = namebox.value;
         sessionStorage.currentuser = name;
         window.location.href = chatbutton.href + "/" + name;
         sessionStorage.removeItem("opponent");
           
    });
    
}
</script>



</html>
